@{
    ViewBag.Title = "عن موقع سعادتي";
    ViewBag.MetaDescription = "عن موقع سعادتي، تعريف بموقع سعادتي ومهمة الموقع، توجهانه والأفكار النصائح التي يهدف إلى إيصالها للعائلة والمجتمع";
}


 <div class="container">
    <div class="col-xs-32 white-center-wrapper">
        <section>
        <header><h1>عن سعادتي</h1></header>
        <div style="color:#757575;font-family:Tahoma;">
            موقع سعادتي هو مصدر للحصول على نصائح للمساعدة في تحسين جميع جوانب حياتك. موقع سعادتي هو الحديث عن السعادة في الحياة. نتحدث عن جميع جوانب الحياة ومنها العائلة، النفسية، الزواج، الصحة والعلاقات الإجتماعية. نأمل أن تعطيك النصائح والأدوات والأفكار لجعل حياتك أفضل وتلهمك لتستمر في فعل الأشياء العظيمة التي تقومون به بالفعل.<br /><br />

مهمتنا هي تنشيط طريقة عيش الناس، والعمل والتواصل لحصول على حياة أكثر سعادة وإنتاجية.<br /><br />

إذا كان لديك أي إقتراح أو تعليق، الرجاء، ارساله على العنوان التالي: <a href="mailto:info@sa3adaty.com">info@sa3adaty.com</a>
        </div>
        </section>
    </div>
</div>