@{
    ViewBag.Title = "تم إرسال رابط الإسنعادة بنجاح";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <div class="container">
    
    <div class="login_form col-xs-32">
        <a href="@Html.AbsoluteArabicURL(Url.Action("Login"))"><div class="col-xs-16 login-tab login-inactive-tab" id="login-tab" onclick="showLogin()">تسجيل الدخول</div></a>

        <a href="@Html.AbsoluteArabicURL(Url.Action("Register"))"><div class="col-xs-16 login-tab login-inactive-tab" id="signup-tab" onclick="showSignUp()">إنشاء حساب جديد</div></a>
             
        <div class="col-xs-12 col-xs-offset-10 forget-tab-content" style="padding:0px;"> 
           
                <div class="title-blue" style="text-align:center;">تم الإرسال بنجاح</div>
                <div style="text-align:center;margin-bottom:48px">لقد تم إرسال رابط لاستعادة كلمة السر إلى بريدك الإلكتروني.<br /><br /> من فضلك تأكد من بريدك الإلكتروني و اضغط على رابط استعادة كلمة السر لتحديد كلمة سر جديدة لحسابك على سعادتي.</div>
            
        </div>
    </div>
</div>