@model Sa3adaty.Core.ViewModels.Tips.TipViewModel 

@if(Model !=null)
    {
    <div class="col-xs-32 col-sm-16 col-md-32" style="padding:0px;margin-bottom:20px">
    <div class=" ramadan-tip">
        @Model.Description 
    </div>
    </div>
}
