@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "خطأ";
}
<div class="title container">
    <h1 class="error">خطأ</h1>
    <h2 class="error">حدث خطأ أثناء معالجة طلبك.</h2>
</div>
