@{
    ViewBag.Title = "Edit Author";
}
مرحبا <strong>@ViewBag.Username</strong>، <br /><br />

لقد طلبت إعادة تعيين كلمة السر الخاصة بك.<br />
اضغط على الرابط التالي لتعيين كلمة سر جديدة لحسابك على موقع سعادتي.<br /><br />

<a href="@ViewBag.ResetLink" >@ViewBag.ResetLink</a><br /><br />

إن لم تكن أنت من طلب إعادة تعيين كلمة السر، يمكنك تجاهل هذه الرسالة، ولن يتم إجراء أي تعديلات على حسابك.<br /><br />

شكرا لاستخدامك موقع سعادتي،<br />
فريق عمل سعادتي.