@{
    ViewBag.Title = "antiforgery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="title container">
    <h1 class="error">خطأ</h1>
    <h2 class="error">لقد حاولت إرسال الطلب مرتين متتاليتين</h2>
</div>
