@{
    ViewBag.Title = "الصفحة غير موجدة";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="background-color:#ffffff;  margin-top: 20px;  margin-bottom: 20px;">
    <div class="title-blue" style="text-align:center; margin:40px 0px;">"404" عذرا لم نستطع العثور على الصفحة التي طلبتها!</div>
    
</div>